.elements__element {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    width: 282px;
    max-height: 361px;
}
.elements__element:hover {
    cursor: pointer;
}